@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');

*{
    padding: 0px;
    margin: 0px;
}



:root{
--color1: #B3ECF2;
--color2: #F277A4;
--color3: #732240;
--color4: #D9436B;
--color5: #8C0327;
}

body{
    border: 10px solid var(--color2);
    background-color: var(--color1);
    height: 609px;
}

.voltar{
    width: 120px;
    position: fixed;
    border: 5px solid var(--color5);
    background-color: var(--color4);
    bottom: 20%;
}

.voltar:hover{
    border: 10px solid var(--color5);
}

.voltar:active{
   
     border: 10px solid #39c9da;
}

.voltar > h1{
    font-family: 'Dancing Script', cursive;
    font-size: 40px;
    background-color: var(--color4);
    color: rgba(255, 255, 255, 0.74);
    text-indent: 20px;
}

#carta01{
    background-color: white;
    height: 60px;
    border: 10px solid rgba(128, 128, 128, 0.274);
    display: flex;
    align-items: center;
    
}

p{
    font-size: 30px;
}